{% extends "base.html" %}
{% block subtitle %}
    Home
{% endblock subtitle %}

{% block content %}
<div class="container">
<div class="jumbotron">
    <h1>Gluu oxd Python Application</h1>
</div>


<div class="col-md-4">
<form action="login" method="get" enctype="multipart/form-data">
<br><br>
    <div runat="server" id="formLogin" visible="false" class="jumbotron">
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter UserName" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" name="password" placeholder="Enter Password" />
        </div>
        <input type="button" name="Login" value="Login" class="btn btn-info" >

    </div>
    <div runat="server" id="divOpenID">
        <input type="submit" name="OpenIDLogin" value="Login by OpenID Provider" id="OpenIDLogin" class="btn btn-success" >
        <br><br>
    </div>
        <input type="radio" name="loginMode" id="openid" value="openid" checked class="rbLoginType"> Login by OpenID Provider<br>
        <input type="radio" name="loginMode" id="loginform" value="loginform" class="rbLoginType"> Show Login form

    </form>
    <br/><br/><br/><br/><br/>
    <a href="setupClient" class="btn btn-default">Setting</a>
    <a href="uma" class="btn btn-default" target="_blank">UMA</a>


</div>
</div>
{% endblock content %}
