<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta charset="utf-8">
    <!--bootstrap cdn -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <form action="#" method="post">
        <div class="row">
            <div class="col-md-6">
                <label>Username</label>
                <input type="text" placeholder="username" size="50" class="ip_box" name="username" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>Password</label>
                <input type="password" placeholder="password" size="50" class="ip_box" name="password" required>
            </div>
        </div>
        <input type="submit" value="login" class="btn btn-primary">
    </form>
</body>
</html>