{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>oxd-python demo - UMA Resource Server</h1>
  </div>

  <div class="row">
  <div class="col-md-12">
    <p>This is a simple UMA Resource Server. This server responds with JSON to the following resource calls</p>
  </div>
  </div>

  <div class="row">

    <div class="col-md-offset-2 col-md-8">

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Resources</h3>
        </div>
        <table class="table">
          <tr>
            <th>Resource</th>
            <th>Endpoint</th>
            <th>Protection Status</th>
            <th>UMA Scopes</th>
          </tr>
          <tr>
            <td>Photos</td>
            <td><code>/api/photos/</code></td>
            <td class="success">Protected</td>
            <td>
              <ul>
                <li>https://resource.example.com/uma/scope/view - GET</li>
                <li>https://resource.example.com/uma/scope/add - POST</li>
                <li>https://resource.example.com/uma/scope/all - GET, POST</li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>Documents</td>
            <td><code>/api/docs/</code></td>
            <td class="danger">NOT protected</td>
            <td>-</td>
          </tr>
        </table>
      </div>

    </div>

  </div>

  <div class="alert alert-info" role="alert">
  <strong>Note:</strong>
    You can open the Gluu Server web interface and configure the policies for these scopes.
  </div>


{% endblock content %}
