{% extends 'base.html' %}

{% block content %}

  <h3>You are granted access to view the Resource </h3>
  {% if resource == 'photos' or resource == 'photo' %}
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Tamil_Nadu_Literacy_Map_2011.png/640px-Tamil_Nadu_Literacy_Map_2011.png" alt="Photo Resource" class="img-thumbnail">
  {% elif resource == 'docs' %}
    <p>Document: <a href="https://s3.us-east-2.amazonaws.com/prettyprinted/flask_cheatsheet.pdf">Flask Cheat Sheet</a></p>
  {% endif %}

{% endblock %}
